@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

.headerContainer {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #e0e0e0;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.leftPanel {
    background-color: #F1F2F7;
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brandIcon {
    width: 50px;
    height: 50px;
    background-image: url('../assets/energy.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.brandName {
    font-size: 32px;
    font-weight: 700;
    color: navy;
}

.centerPanel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

.searchBar {
    display: flex;
    align-items: center;
    background-color: #f3f3f7;
    border-radius: 50px;
    padding: 5px 15px;
    width: 100%;
    max-width: 800px;
}

.searchInput {
    flex-grow: 1;
    border: none;
    background: transparent;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
    color: #333;
}

.searchInput::placeholder {
    color: #999;
}

.searchIcon {
    color: #999;
    font-size: 18px;
}

.rightPanel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 30px;
    flex: 1;
}