@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

.rightPanel {
    width: 200px;
    background-color: gray;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
}

.rightPanel p {
    margin: 8px 0;
}
