@import "tailwindcss";

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #FAFDF3;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden; 
}

body {
  margin: 0;
  height: 100%;
}