@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    padding: 40px;
}

.pageTitle h1 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 30px;
    margin-top: 0;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
}