#root {
  width: 100%;
  height: 100%;
  background-color: #FAFDF3;
}

html {
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}
